* {
     margin: 0;
     padding: 0;
}

body {
     background-color: rgb(255, 200, 221,0.8);
}

header {
     height: 50vh;
}

.head {
     height: 3rem;
     background-color: rgb(255, 183, 3);
     margin-bottom: 1rem;
}



.navigation ul {
     height: 3rem;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.navigation ul li {
     list-style: none;
     margin-right: 1rem;
}

.navigation ul li a {
     text-decoration: none;
     font-family: 'Times New Roman', Times, serif;
     color: white;
     font-weight: 700;
     font-size: 20px;
}

/* .slider {
     height: 20vh;
} */